

:root{
    --color1 :#ffffff;
    --color2 :#f7f7f7;
    --color3 :#c8c8c8;
    /*shadow form*/
    --color4 :#763e13;
    /*title log*/
    --color9 :#333;
    /*submit*/
    --color13:#ff3f3f;
    --color7 :#4e65fd;
    /*hover submit*/
    --color10:#f93f3f;
    --color11:#2b44d3;
    /*color body*/
    --color12:#0f18c6;

    --color14:#363cbb;
    --color15:#e94545;
    
    --color16:#353aa14b;
    --color17:#d728283c;
    
    }
    
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: var(--color2);
        color: var(--color12);
        
    }
    #form {
        width: 350px;
        padding:15px;
        background-color: var(--color1);
        border-radius: 8px;
        border: 2px solid black;
    }
  
    #verified{
        text-align: center;
        text-shadow: 0 0 2px  rgba(255, 0, 0, 0.495);
        font-size: 22px;
    }
    #iconVerified{
        width: 50px;
        box-shadow: 0 0 15px 7px #f9f9f3;}
    
    input {
        width: 70%;
        height: 40px;
        padding: 0 25px;
        box-sizing: border-box;
        border: 2px solid var(--color3);
        border-radius: 2px;
    }
   
    #submit {
        width: 100%;
        height: 40px;
        margin-top: -60px;
        background:rgba(0, 0, 0, 0.395);
        border-radius: 8px;
        color: var(--color1);
        font-size: 16px;
        cursor: pointer;
        transition:  0.3s;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    #submit:hover {
        background: rgba(0, 0, 0, 0.55);
    } 
     #linklogin{
        text-decoration: none;
        float: left;
        margin-top: -40px;
        margin-bottom: 10px;
        text-shadow: 1px 1px 2px var(--color10);
        color: #133350;
        font-size: 22px;
    }

/* err */
.err{
    text-shadow: 0 0 2px rgba(255, 0, 0, 0.616);text-align: center;
    
}



/*reload*/

.loaderto{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgba(0, 0, 0, 0.899);
}
.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
  border-radius: 50%;
  position: absolute;
  left: 43%;
  display: none;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
body .gif{
  display: none !important;
  opacity: 0;
}
/* edit */
#usernameedit , #emailedit  , #passwordedit  {
    border: 1px solid black;
    padding: 0;
    width: 300px;
    padding-left:12px ;
}
#submitedit{
    border:none; 
    width: 300px;
    background: rgba(0, 0, 0, 0.557);
    color: white;
}
#linkup{
    font-size: 18px;
}